complete-table {
  --table-border-color: rgba(0,0,0,0.2);
  --table-box-shadow: rgba(0,0,0,0.15);
  --table-background: white;
  --table-off-color: rgba(0,0,0,0.05);
  --table-selected-color: rgba(0,0,0,0.075);
  --table-compact: 4px 2px;
  --table-cozy: 6px 4px;
  --table-comfortable: 8px 6px;
  --table-font-size: 1.6rem;
  display: block;
  box-sizing: border-box;
}

complete-table table {
  display: none;
}

complete-table * {
  box-sizing: border-box;
}

complete-table .table {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--table-border-color);
}

complete-table .table .table {
  flex: auto 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  border-collapse: collapse;
  overflow: auto;
}

complete-table .table .thead {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

complete-table .table .thead.-headerGroups {
  background: rgba(0,0,0,0.03);
  border-bottom: 1px solid var(--table-border-color);
}

complete-table .table .thead.-filters {
  border-bottom: 1px solid var(--table-border-color);
}

complete-table .table .thead.-filters input,
complete-table .table .thead.-filters select {
  border: 1px solid var(--table-border-color);
  background: #fff;
  padding: 5px 7px;
  font-size: inherit;
  border-radius: 3px;
  font-weight: normal;
  outline: none;
}

complete-table .table .thead.-filters .th {
  border-right: 1px solid var(--table-border-color);
}

complete-table .table .thead.-header {
  box-shadow: 0 2px 15px 0px var(--table-box-shadow);
}

complete-table .table .thead .tr {
  text-align: center;
}

complete-table .table .thead .th,
complete-table .table .thead .td {
  padding: 5px 5px;
  line-height: normal;
  position: relative;
  border-right: 1px solid var(--table-border-color);
  transition: box-shadow 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: inset 0 0 0 0 transparent;
  min-width: 50px;
}

complete-table .table .thead .th.-soasc,
complete-table .table .thead .td.-soasc {
  box-shadow: inset 0 3px 0 0 var(--table-box-shadow);
}

complete-table .table .thead .th.-sodesc,
complete-table .table .thead .td.-sodesc {
  box-shadow: inset 0 -3px 0 0 var(--table-box-shadow);
}

complete-table .table .thead .th.-cursor-pointer,
complete-table .table .thead .td.-cursor-pointer {
  cursor: pointer;
}

complete-table .table .thead .th:last-child,
complete-table .table .thead .td:last-child {
  border-right: 0;
}

complete-table .table .thead .resizable-header {
  overflow: visible;
}

complete-table .table .thead .resizable-header:last-child {
  overflow: hidden;
}

complete-table .table .thead .resizable-header-content {
  overflow: hidden;
  text-overflow: ellipsis;
}

complete-table .table .thead .header-pivot {
  border-right-color: var(--table-border-color);
}

complete-table .table .thead .header-pivot::after,
complete-table .table .thead .header-pivot::before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

complete-table .table .thead .header-pivot::after {
  border-color: rgba(255,255,255,0);
  border-left-color: #fff;
  border-width: 8px;
  margin-top: -8px;
}

complete-table .table .thead .header-pivot::before {
  border-color: rgba(102,102,102,0);
  border-left-color: var(--table-border-color);
  border-width: 10px;
  margin-top: -10px;
}

complete-table .table .tbody {
  flex: 99999 1 auto;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

complete-table .table .tbody .tr-group {
  border-bottom: solid 1px var(--table-border-color);
}

complete-table .table .tbody .tr-group:last-child {
  border-bottom: 0;
}

complete-table .table .tbody .td {
  border-right: 1px solid var(--table-border-color);
}

complete-table .table .tbody .td:last-child {
  border-right: 0;
}

complete-table .table .tbody .expandable {
  cursor: pointer;
}

complete-table .table .tr-group {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

complete-table .table .tr {
  flex: 1 0 auto;
  display: inline-flex;
}

complete-table .table .th,
complete-table .table .td {
  flex: 1 0 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 7px 5px;
  overflow: hidden;
  transition: 0.3s ease;
  transition-property: width, min-width, padding, opacity;
  font-size: var(--font-size);
}

complete-table[density="comfortable"] .table .th,
complete-table[density="comfortable"] .table .td {
  padding: var(--table-comfortable);
}

complete-table[density="cozy"] .table .th,
complete-table[density="cozy"] .table .td {
  padding: var(--table-cozy);
}

complete-table[density="compact"] .table .th,
complete-table[density="compact"] .table .td {
  padding: var(--table-compact);
}

complete-table .table .th.-hidden,
complete-table .table .td.-hidden {
  width: 0 !important;
  min-width: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  opacity: 0 !important;
}

complete-table .table .expander {
  display: inline-block;
  position: relative;
  margin: 0;
  color: transparent;
  margin: 0 10px;
}

complete-table .table .expander::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  border-left: 5.04px solid transparent;
  border-right: 5.04px solid transparent;
  border-top: 7px solid var(--table-border-color);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
}

complete-table .table .expander.-open::after {
  transform: translate(-50%, -50%) rotate(0deg);
}

complete-table .table .tfoot {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0px 15px 0px rgba(0,0,0,0.15);
}

complete-table .table .tfoot .td {
  border-right: 1px solid var(--table-border-color);
}

complete-table .table .tfoot .td:last-child {
  border-right: 0;
}

complete-table .table.-striped .tr.-odd {
  background: rgba(0,0,0,0.03);
}

complete-table .table.-highlight .tbody .tr:not(.-padRow):hover {
  background: rgba(0,0,0,0.05);
}

complete-table .table .-pagination {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  padding: 3px;
  box-shadow: 0 0px 15px 0px rgba(0,0,0,0.1);
  border-top: 2px solid var(--table-border-color);
}

complete-table .table .-pagination input,
complete-table .table .-pagination select {
  border: 1px solid var(--table-border-color);
  background: #fff;
  padding: 5px 7px;
  font-size: inherit;
  border-radius: 3px;
  font-weight: normal;
  outline: none;
}

complete-table .table .-pagination .-btn {
  appearance: none;
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 3px;
  padding: 6px;
  font-size: 1em;
  color: rgba(0,0,0,0.6);
  background: rgba(0,0,0,0.1);
  transition: all 0.1s ease;
  cursor: pointer;
  outline: none;
}

complete-table .table .-pagination .-btn[disabled] {
  opacity: 0.5;
  cursor: default;
}

complete-table .table .-pagination .-btn:not([disabled]):hover {
  background: rgba(0,0,0,0.3);
  color: #fff;
}

complete-table .table .-pagination .-previous,
complete-table .table .-pagination .-next {
  flex: 1;
  text-align: center;
}

complete-table .table .-pagination .-center {
  flex: 1.5;
  text-align: center;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

complete-table .table .-pagination .-pageInfo {
  display: inline-block;
  margin: 3px 10px;
  white-space: nowrap;
}

complete-table .table .-pagination .-pageJump {
  display: inline-block;
}

complete-table .table .-pagination .-pageJump input {
  width: 70px;
  text-align: center;
}

complete-table .table .-pagination .-pageSizeOptions {
  margin: 3px 10px;
}

complete-table .table .noData {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255,255,255,0.8);
  transition: all 0.3s ease;
  z-index: 1;
  pointer-events: none;
  padding: 20px;
  color: rgba(0,0,0,0.5);
}

complete-table .table .-loading {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255,255,255,0.8);
  transition: all 0.3s ease;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
}

complete-table .table .-loading > div {
  position: absolute;
  display: block;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 0;
  font-size: 15px;
  color: rgba(0,0,0,0.6);
  transform: translateY(-52%);
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

complete-table .table .-loading.-active {
  opacity: 1;
  z-index: 2;
  pointer-events: all;
}

complete-table .table .-loading.-active > div {
  transform: translateY(50%);
}

complete-table .table .resizing .th,
complete-table .table .resizing .td {
  transition: none !important;
  cursor: col-resize;
  user-select: none;
}

complete-table[sticky] .thead {
  position: sticky;
  top: 0;
  background: white;
}

complete-table .table .small {
  display:  flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 0px;
  min-width: 28px !important;
}

/* Draggable */
complete-table .table .draggable-mirror {
  width: inherit;
  flex: inherit;
  cursor: -webkit-grabbing;
  cursor: grabbing;
  position:  absolute !important;
  width: 100%;
  border: 1px solid var(--table-border-color);
  background: var(--table-background);
}

body.draggable--is-dragging {
  cursor: -webkit-grabbing !important;
  cursor: grabbing !important;
  position: relative !important;
}

complete-table .table .drag-handle:hover {
  cursor: -webkit-grab;
  cursor: grab;
}

body.draggable--is-dragging complete-table .table .drag-handle {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}


/* Resizable */
complete-table .table .resize-handle {
  display: inline-block;
  position: absolute;
  width: 36px;
  top: 0;
  bottom: 0;
  right: -18px;
  cursor: col-resize;
  z-index: 10;
}

complete-table .resizable-mirror {
  display: none;
}

/* Readability */
complete-table[readability] .tr {
  transition: background 300ms ease 0s;
}

complete-table[readability="border"] .tr {
  border-bottom: 1px solid var(--table-border-color);
}

complete-table[readability="even"] .table .tbody .tr:nth-child(even) {
  background: var(--table-off-color);
}

complete-table[readability="odd"] .table .tbody .tr:nth-child(odd) {
  background: var(--table-off-color);
}


complete-table .selected {
  background: var(--table-selected-color) !important;
}
